{
  "project_info": {
    "project_number": "0",
    "project_id": "musaitvillam",
    "storage_bucket": "musaitvillam.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:0:android:yonetim",
        "android_client_info": {
          "package_name": "com.musaitvillam.yonetim"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "PASTE_FROM_FIREBASE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
